 <!-- Footer -->
 <footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Innovación Gastronómica</h5>
                <p>
                    Explora nuevas recetas, comparte tus sugerencias y aprende sobre la historia detrás de nuestros platos más innovadores.
                </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Enlaces</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#" class="text-dark">Inicio</a>
                    </li>
                    <li>
                        <a href="#" class="text-dark">Recetas</a>
                    </li>
                    <li>
                        <a href="#" class="text-dark">Sugerencias</a>
                    </li>
                    <li>
                        <a href="#" class="text-dark">Historia</a>
                    </li>
                    <li>
                        <a href="#" class="text-dark">Contacto</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contacto</h5>
                <ul class="list-unstyled">
                    <li>
                        <p>Email: contacto@innovaciongastronomica.com</p>
                    </li>
                    <li>
                        <p>Teléfono: +123 456 789</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center p-3 bg-dark text-white">
        © 2024 Innovación Gastronómica. Todos los derechos reservados.
    </div>
</footer>